* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}

ul,
li {
    list-style: none;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
}

.wrap {
    width: 90vw;
    margin: 0 auto;
}

.menu {
    color: white;
    background-color: navy;
    font-size: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.menu-list {
    display: flex;
    justify-content: space-between;
}